.cards{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 1rem;
}


.card {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    background-color: rgb(212, 234, 168);
  }

  .card p{
    color:black;
  }
  .card img{
    width: 100%;
    height: auto;
  }
  
  
  .title {
    color: grey;
    font-size: 18px;
    text-align: left;
  }
  
  .pignation{
    margin: 1rem;
    position: absolute;
  }

  .pignation a{
    text-decoration: none;
    background-color: black;
    padding: 6.5px;
    color: white; 
    gap: 5px;
  }

  .pignation a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  #google_element{
    padding: 1rem;
    border: 3px solid black;
    margin: 2rem;
  }

  .search-feature{
    width: 50%;
    max-width: 300px;
    background-color: azure;
    display: flex;
    align-items: left;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 1rem;
  }

  .search-feature input{
    background: transparent;
    float: left;
    margin:5px;
    flex: 1;
    border: 1;
    outline: none;
    padding: 10px 8px;
    font-size: 10px;
    color: black;
  }

  .search-feature button{
    padding: 0.5rem;
    display: flex;
    margin: 7px;
    background: black;
    color: white;
    float: left;
  }

  .search-feature button:hover{
    color: black;
    background: white;
    border: 1px solid black;
  }

  .search-feature button img{
    width: 25px;
  }

  
  /*=====================MEDIA QUERIES (MEDIUM DEVICES)=========================*/

  @media screen and (max-width:1024px) {

    .cards{
        grid-template-columns: 1fr 1fr 1fr;

    }
  
}

@media screen and (max-width:600px) {

    .cards{
        grid-template-columns: 1fr;

    }
    .text-center{
        text-align: end;
    }
    .pignation a {
        padding: 3px;
    }
  
}
